<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}layout{% endblock title %}</title>
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
</head>
<body>
    <ul class="flex gap-5 bg-green-500 px-20 py-5">
        <li class="text-white border-[2px] border-white rounded-lg px-5"><a href="http://127.0.0.1:8000/member/home/">home</a></li>
        <li class="text-white border-[2px] border-white rounded-lg px-5"><a href="http://127.0.0.1:8000/member/addMember/">add member</a></li>
        <li class="text-white border-[2px] border-white rounded-lg px-5"><a href="http://127.0.0.1:8000/member/searchMember/">search members</a></li>
    </ul>
 
        {% block content %}
        {% endblock content %}
  
</body>
</html>