{% extends "layout.html" %}
{% block title %}member details{% endblock title %}
{% block content %}
<h2 class="w-full bg-green-400 py-2 text-3xl font-semibold text-center text-white">Member details</h2>
  <div class="flex justify-center">
    <div class="">
      <p class="font-semibold text-xl">first name:<span class="text-xl"> {{member_details.firstname}}</span></p>
      <p class="font-semibold text-xl">last name:<span class="text-xl"> {{member_details.lastname}}</span></p>
      <div class="mt-5">
        <button class="bg-green-500 px-5 rounded-lg"><a href="http://127.0.0.1:8000/member/updateMemberPage/{{member_details.id}}">update</a></button>
        <button class="bg-red-600 px-5 rounded-lg ml-3"><a href="http://127.0.0.1:8000/member/deleteMember/{{member_details.id}}">delete</a></button>
      </div>
    </div>
  </div>

  <script>
    function handleDelete(id){
      fetch(`http://127.0.0.1:8000/member/${id}`)
    }
  </script>


{% endblock content %}