{% extends "layout.html" %}
{% block title %}
    search members
{% endblock title %}

{% block content %}
<h2 class="text-center bg-green-400 py-3 w-full mb-3">Search members:</h2>
    <div class="w-full flex justify-center items-center">
     
       <div >
        
        <form method="GET" action="{% url 'search_member'%}" class="pt-10">
            <input name="query" type="text" class="border-2 border-slate-400 px-2 rounded-lg">
            <button type="submit" class="ml-2 border border-green-300 rounded-lg px-5">search</button>
        </form>
        <ul class="mt-5">
            {% for member in  members%}
                <li>{{forloop.counter}}. {{member.firstname}} {{member.lastname}}</li>

                {% empty %}
                <li>No members found.</li>
            {% endfor %}
        </ul>
       
       </div>
    </div>
{% endblock content %}

